/imfusion_sdk/data/pet-ct-rtstruct/
/imfusion_sdk/data/cropped_pet.imf
/imfusion_sdk/data/demo-data.imf
/imfusion_sdk/data/resampled_ct.imf
/imfusion_sdk/data/resampled_pet.imf
/imfusion_sdk/data/thresholded_pet.imf
/test_project/
/imfusion_sdk/data/pred_segmentation.imf
/imfusion_sdk/debug_rtstruct_reference.ipynb
/.idea/jupyter-settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/public-python-demos.iml
/imfusion_sdk/data/tumor_mask_dilated_rtstruct.dcm
/imfusion_sdk/workshop/data/tumor_mask_dilated_rtstruct.dcm
/.idea/vcs.xml
